@import "../common.scss";

.App {
  font-size: 18px;
  line-height: 28px;
  font-family: "Frank Ruhl Libre", serif;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  .box-wrapper {
    width: 1200px;
    border: 1px solid black;
    margin: 50px auto;
  }
}
