.App {
  font-size: 18px;
  line-height: 28px;
  font-family: "Frank Ruhl Libre", serif;
}

$primary-color: #ff5544;

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.box-wrapper {
  width: 1200px;
  border: 1px solid black; 
  margin: 50px auto;
}

.search-result-item {
  margin-top: 10px;

  .title-wrapper {
    padding: 30px;
    border-bottom: 1px solid black; 

    .index-display {
      font-size: 100px; 
      line-height: 1.1;
    }

    h2 {
      font-size: 36px; 
      line-height: 60px;
      font-weight: bold;
    }

    p.desc {
      font-size: 26px; 
      line-height: 40px; 
      margin-top: 20px; 
    }
  }

  .id,
  .url {
    line-height: 1;
    border-bottom: 1px solid black;
    padding: 14px 30px; 
    display: flex; 
    align-items: center;

    i.material-icons {
      color: $primary-color;
      font-size: 20px; 
      line-height: 20x; 
      display: inline-block; 
      margin-right: 15px; 
    }
  }
}
